:root {
  --border-color: #dadad4;
  --border-properties: 1px solid var(--border-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,
body {
  font-family: "Uncut Sans Variable", Sans-serif;
  height: 100dvh;
  display: grid;
  place-items: center;
}

.wraper {
  position: relative;
}
.wraper table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: var(--border-properties);
  max-width: 800px;
  margin-inline: auto;
  font-size: 0.8rem;
  letter-spacing: 0.05ch;
  text-transform: uppercase;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-left: var(--border-properties);
  padding: 1.3rem;
}

th {
  font-weight: bolder;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(1) {
  font-size: 0.7rem;
}
tr:not(:nth-child(1)) th {
  font-weight: normal;
}

.button__show-math {
  outline: none;
  border: none;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 0.63rem;
  letter-spacing: 0.1ch;
  color: white;
  background-color: black;
  background: none;
  font-size: 0.65rem;
  color: black;
  border: 1px dotted black;
  cursor: pointer;
}